### Ansible
playbooks/roles/java
playbooks/roles/python


### Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
backend.tf

### Docker
Dockerfile
docker-compose.yml

### MISC
.vscode
jenkins.sh